/*New Padination Round */
pagination{
-fx-base:black;
    -fx-background-insets: 0, 1;
    -fx-background-color: transparent;
    -fx-text-fill: black;
   -fx-min-width: 30;
    -fx-min-height: 30;

}
.pagination .toggle-button , .mypage .button{
-fx-background-radius:15px;
-fx-padding: 0px;
    -fx-background-insets: 0, 1;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-min-width: 30;
    -fx-min-height: 30;

}
.pagination .button{
-fx-padding: 5 15 5 16px;
    -fx-background-insets: 0, 1;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-min-width: 30;
    -fx-min-height: 30;

}
.pagination .label {
	-fx-text-fill:gray ;
    -fx-background-insets: 0, 1;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-min-width: 30;
    -fx-min-height: 30;

}












/* 
.btnbackgr
{
		-fx-background-color:  linear-gradient(0deg, rgba(37,79,148,1) 44%, rgba(37,79,148,1) 46%, rgba(13,60,136,1) 47%, rgba(90,90,153,1) 100%);
	
}
*/

.bgwhite
{
	-fx-background-color: #ffffff;
	
}

.firstpagebk
{     -fx-background-size: 100% 100%;  
    
       -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #0d3c88, #2a91d8); 
}

.textblue
{
	-fx-text-fill: linear-gradient(from 25% 25% to 100% 100%, #0d3c88, #2a91d8); 
}


.recanglearc
{
	-fx-arc-height: 140;
	-fx-arc-width: 60;
}

.textboxlogin
{
	-fx-background-color: transparent;
	-fx-text-inner-color: white;
	-fx-font-size: 21px;
	-fx-font-family: 'Montserrat Medium';	
	
	
}
.textboxlogin_profile
{
-fx-background-color: transparent;
-fx-text-inner-color: #686363;
-fx-font-size: 21px;
-fx-font-family: 'Montserrat Medium';	
}
.linear-grad-to-bottom{ -fx-background-color: linear-gradient(to bottom, #0d3c88, #2a91d8); } 


.linear-grad-to-bottom_del{ -fx-background-color: linear-gradient(to bottom, #727676, #A9ABAE); } 

.linear-grad-to-top{ -fx-background-color: linear-gradient(to top, #ff7f50, #6a5acd); }


.linear-grad-to-bottom-right{
    -fx-background-color: linear-gradient(to bottom right, #2A91D8, #0D3C88);
    -fx-background-radius: 146;
}
.linear-grad-to-bottom-right:pressed{
    -fx-background-color: linear-gradient(to top left, #2A91D8, #0D3C88);
    -fx-background-radius: 146;
}



.btnCss{
    -fx-background-color: transparent;
    -fx-background-radius: 146;
}
.btnCss:pressed{
    -fx-background-color: #2A91D8;
    -fx-background-radius: 146;
}

.background-col-white{
    -fx-background-color: #ffffff;
   
}




.firstpagebk
{      -fx-background-size: 100% 100%;  
    
       -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #0d3c88, #2a91d8);
}

/*System Configuration Combobox */
.cmbtrasperant
{
	-fx-background-color: transparent;
    
}
.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color:  white;
    -fx-text-fill: black ;
     -fx-font-size: 20px;
    -fx-font-family: "Calibri" ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white ;
    -fx-background-color: #108bc5 ;
}



.combo-box1 .arrow1, .combo-box1 .arrow-button1{
    -fx-background-color: transparent;
}
 .combo-box .cell:selected {
    -fx-text-fill: #727376;
      -fx-font-size: 22px;
     }

 .combo-box1 .cell:selected {
    -fx-text-fill: white;
      -fx-font-size: 20px;
   }

/*Selection Scree */



.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        #0d3c88; /* this line is the background color of the bar */
    	-fx-text-box-border: transparent;
  -fx-control-inner-background: transparent;
}
 .tab-pane1 .tab-header-area {
    visibility: hidden ;
}

.toggle-button-uinput {
   
         -fx-font-family: 'Montserrat SemiBold';	
         -fx-text-fill: #727376;
    	-fx-background-color: #00000000;
    	-fx-background-radius: 10px;
		-fx-border-radius: 10px;
		-fx-border-color:rgb(192,192,192);
		-fx-padding: 20px;
		-fx-font-size: 20px
		
		}
.toggle-button-uinput:selected {
	   -fx-font-family: 'Montserrat SemiBold';	
    -fx-background-color: #2a91d8;
    -fx-text-fill:#ffffff;
}


.slider .track {
    -fx-pref-height:12;
  }

.slider:vertical .track {
    -fx-pref-width:12;
}

.slider .thumb {
    -fx-pref-height: 30;
    -fx-pref-width: 30;
}

.uinputtextbox
{
	-fx-background-color: transparent;
	-fx-font-size: 17px;
	
}
.uinputtextbox1
{
	-fx-background-color: transparent;
	-fx-font-size: 13px;
	
}

.font-roboto-normal
{
    -fx-font-family: 'Roboto';	
}
.font-montserrat-semiBold
{
    -fx-font-family: 'Montserrat SemiBold';	
}
.font-montserrat-medium
{
    -fx-font-family: 'Montserrat Medium';	
}

.col-gray70
{
	-fx-text-fill: #727376;
}

.col-gray40
{
	-fx-text-fill: #A9ABAE;
}
.col-bluedark
{
	-fx-text-fill: #254F94;
}
.col-white
{
	-fx-text-fill: white; 
}
.btn-background-white
{
	-fx-background-color: white;
}


/*Live Scree.*/


.list-cell {
  -fx-background-color: transparent;
  -fx-font-size:15.0;
     -fx-text-fill: black;
    
}
.list-view {
  -fx-background-color: transparent;
  -fx-background-insets: 2 ;
}


/*JFX Slider BG Color */
.jfx-slider > .thumb {
     -fx-background-color: #245f94;
}

/*Radio Button CSS */

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #0D3C88;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
    
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-mark-color: #0D3C88 ;
}

.table-row-cell {
    -fx-cell-size: 20px;
}
/*Toggle Butto */
.toggle-buttonm {
 -fx-background-color:  #2A91D8;
    -fx-text-fill: white ;
    
}
.toggle-buttonm:selected {
    -fx-background-color:  #939598;
       
}
.toggle-buttonm:selected:focused {
    -fx-background-color:#939598;
}